In [1]:
import pandas as pd
import numpy as np

In [15]:
df = pd.read_csv('energy.csv')
df.drop(columns = df.columns[0], axis = 1,inplace = True )

In [16]:
df.head()

,Country,Energy_type,Year,Energy_consumption,Energy_production,GDP,Population,Energy_intensity_per_capita,Energy_intensity_by_GDP,CO2_emission
0,World,all_energy_types,1980,292.899790,296.337228,27770.910281,4.298127e+06,68.145921,10.547,4946.627130
1,World,coal,1980,78.656134,80.114194,27770.910281,4.298127e+06,68.145921,10.547,1409.790188
2,World,natural_gas,1980,53.865223,54.761046,27770.910281,4.298127e+06,68.145921,10.547,1081.593377
3,World,petroleum_n_other_liquids,1980,132.064019,133.111109,27770.910281,4.298127e+06,68.145921,10.547,2455.243565
4,World,nuclear,1980,7.575700,7.575700,27770.910281,4.298127e+06,68.145921,10.547,0.000000

In [19]:
df.shape

(55440, 10)

In [26]:
for i in df.columns:
    print(i,np.sum(df[i].isna()))

Country 0
Energy_type 0
Year 0
Energy_consumption 11153
Energy_production 11151
GDP 15414
Population 9426
Energy_intensity_per_capita 5082
Energy_intensity_by_GDP 5082
CO2_emission 3826