In [64]:
import pandas as pd
import numpy as np

In [65]:
df = pd.read_csv('energy.csv')
df.drop(columns = df.columns[0], axis = 1,inplace = True )

In [66]:
df.head()

,Country,Energy_type,Year,Energy_consumption,Energy_production,GDP,Population,Energy_intensity_per_capita,Energy_intensity_by_GDP,CO2_emission
0,World,all_energy_types,1980,292.899790,296.337228,27770.910281,4.298127e+06,68.145921,10.547,4946.627130
1,World,coal,1980,78.656134,80.114194,27770.910281,4.298127e+06,68.145921,10.547,1409.790188
2,World,natural_gas,1980,53.865223,54.761046,27770.910281,4.298127e+06,68.145921,10.547,1081.593377
3,World,petroleum_n_other_liquids,1980,132.064019,133.111109,27770.910281,4.298127e+06,68.145921,10.547,2455.243565
4,World,nuclear,1980,7.575700,7.575700,27770.910281,4.298127e+06,68.145921,10.547,0.000000

In [67]:
df.shape

(55440, 10)

In [68]:
# for i in df.columns:
#     print(i,np.sum(df[i].isna()))
df.isna().sum()

Country                            0
Energy_type                        0
Year                               0
Energy_consumption             11153
Energy_production              11151
GDP                            15414
Population                      9426
Energy_intensity_per_capita     5082
Energy_intensity_by_GDP         5082
CO2_emission                    3826
dtype: int64

In [69]:
len(df.Energy_type.unique())

6

In [70]:
df[df['Country']=='Vietnam']

,Country,Energy_type,Year,Energy_consumption,Energy_production,GDP,Population,Energy_intensity_per_capita,Energy_intensity_by_GDP,CO2_emission
1350,Vietnam,all_energy_types,1980,0.122215,0.149186,NaN,54281.8,2.251483,0.000000,NaN
1351,Vietnam,coal,1980,0.058800,0.136845,NaN,54281.8,2.251483,0.000000,NaN
1352,Vietnam,natural_gas,1980,0.000000,0.000000,NaN,54281.8,2.251483,0.000000,NaN
1353,Vietnam,petroleum_n_other_liquids,1980,0.051074,0.000000,NaN,54281.8,2.251483,0.000000,NaN
1354,Vietnam,nuclear,1980,NaN,NaN,NaN,54281.8,2.251483,0.000000,0.000000
...,...,...,...,...,...,...,...,...,...,...
55405,Vietnam,coal,2019,1.647620,1.202316,915.504,96425.9,36.391525,3.832955,159.987205
55406,Vietnam,natural_gas,2019,0.308716,0.308716,915.504,96425.9,36.391525,3.832955,16.002558
55407,Vietnam,petroleum_n_other_liquids,2019,0.983412,0.504521,915.504,96425.9,36.391525,3.832955,65.816659
55408,Vietnam,nuclear,2019,NaN,NaN,915.504,96425.9,36.391525,3.832955,0.000000
55409,Vietnam,renewables_n_other,2019,0.569337,0.540819,915.504,96425.9,36.391525,3.832955,0.000000

In [71]:
240/6

40.0

In [72]:
df.Country.unique()

array(['World', 'Afghanistan', 'Albania', 'Algeria', 'American Samoa',
       'Angola', 'Antarctica', 'Antigua and Barbuda', 'Argentina',
       'Armenia', 'Aruba', 'Australia', 'Austria', 'Azerbaijan',
       'Bahrain', 'Bangladesh', 'Barbados', 'Belarus', 'Belgium',
       'Belize', 'Benin', 'Bermuda', 'Bhutan', 'Bolivia',
       'Bosnia and Herzegovina', 'Botswana', 'Brazil',
       'British Virgin Islands', 'Brunei', 'Bulgaria', 'Burkina Faso',
       'Burma', 'Burundi', 'Cabo Verde', 'Cambodia', 'Cameroon', 'Canada',
       'Cayman Islands', 'Central African Republic', 'Chad', 'Chile',
       'China', 'Colombia', 'Comoros', 'Congo-Brazzaville',
       'Congo-Kinshasa', 'Cook Islands', 'Costa Rica', 'Croatia', 'Cuba',
       'Cyprus', 'Czech Republic', 'Côte d’Ivoire', 'Denmark', 'Djibouti',
       'Dominica', 'Dominican Republic', 'Ecuador', 'Egypt',
       'El Salvador', 'Equatorial Guinea', 'Eritrea', 'Estonia',
       'Eswatini', 'Ethiopia', 'Falkland Islands', 'Faroe Islands',
       'Fiji', 'Finland', 'Former Czechoslovakia',
       'Former Serbia and Montenegro', 'Former U.S.S.R.',
       'Former Yugoslavia', 'France', 'French Guiana', 'French Polynesia',
       'Gabon', 'Gambia, The', 'Georgia', 'Germany', 'Germany, East',
       'Germany, West', 'Ghana', 'Gibraltar', 'Greece', 'Greenland',
       'Grenada', 'Guadeloupe', 'Guam', 'Guatemala', 'Guinea',
       'Guinea-Bissau', 'Guyana', 'Haiti', 'Hawaiian Trade Zone',
       'Honduras', 'Hong Kong', 'Hungary', 'Iceland', 'India',
       'Indonesia', 'Iran', 'Iraq', 'Ireland', 'Israel', 'Italy',
       'Jamaica', 'Japan', 'Jordan', 'Kazakhstan', 'Kenya', 'Kiribati',
       'Kosovo', 'Kuwait', 'Kyrgyzstan', 'Laos', 'Latvia', 'Lebanon',
       'Lesotho', 'Liberia', 'Libya', 'Lithuania', 'Luxembourg', 'Macau',
       'Madagascar', 'Malawi', 'Malaysia', 'Maldives', 'Mali', 'Malta',
       'Martinique', 'Mauritania', 'Mauritius', 'Mexico', 'Micronesia',
       'Moldova', 'Mongolia', 'Montenegro', 'Montserrat', 'Morocco',
       'Mozambique', 'Namibia', 'Nauru', 'Nepal', 'Netherlands',
       'Netherlands Antilles', 'New Caledonia', 'New Zealand',
       'Nicaragua', 'Niger', 'Nigeria', 'Niue', 'North Korea',
       'North Macedonia', 'Northern Mariana Islands', 'Norway', 'Oman',
       'Pakistan', 'Palestinian Territories', 'Panama',
       'Papua New Guinea', 'Paraguay', 'Peru', 'Philippines', 'Poland',
       'Portugal', 'Puerto Rico', 'Qatar', 'Reunion', 'Romania', 'Russia',
       'Rwanda', 'Saint Helena', 'Saint Kitts and Nevis', 'Saint Lucia',
       'Saint Pierre and Miquelon', 'Saint Vincent/Grenadines', 'Samoa',
       'Sao Tome and Principe', 'Saudi Arabia', 'Senegal', 'Serbia',
       'Seychelles', 'Sierra Leone', 'Singapore', 'Slovakia', 'Slovenia',
       'Solomon Islands', 'Somalia', 'South Africa', 'South Korea',
       'South Sudan', 'Spain', 'Sri Lanka', 'Sudan', 'Suriname', 'Sweden',
       'Switzerland', 'Syria', 'Taiwan', 'Tajikistan', 'Tanzania',
       'Thailand', 'The Bahamas', 'Timor-Leste', 'Togo', 'Tonga',
       'Trinidad and Tobago', 'Tunisia', 'Turkey', 'Turkmenistan',
       'Turks and Caicos Islands', 'Tuvalu', 'U.S. Pacific Islands',
       'U.S. Territories', 'U.S. Virgin Islands', 'Uganda', 'Ukraine',
       'United Arab Emirates', 'United Kingdom', 'United States',
       'Uruguay', 'Uzbekistan', 'Vanuatu', 'Venezuela', 'Vietnam',
       'Wake Island', 'Western Sahara', 'Yemen', 'Zambia', 'Zimbabwe'],
      dtype=object)

In [73]:
for c in df.Country.unique():
    print(c,len(df[df['Country']==c].Year.unique()))

World 40
Afghanistan 40
Albania 40
Algeria 40
American Samoa 40
Angola 40
Antarctica 40
Antigua and Barbuda 40
Argentina 40
Armenia 40
Aruba 40
Australia 40
Austria 40
Azerbaijan 40
Bahrain 40
Bangladesh 40
Barbados 40
Belarus 40
Belgium 40
Belize 40
Benin 40
Bermuda 40
Bhutan 40
Bolivia 40
Bosnia and Herzegovina 40
Botswana 40
Brazil 40
British Virgin Islands 40
Brunei 40
Bulgaria 40
Burkina Faso 40
Burma 40
Burundi 40
Cabo Verde 40
Cambodia 40
Cameroon 40
Canada 40
Cayman Islands 40
Central African Republic 40
Chad 40
Chile 40
China 40
Colombia 40
Comoros 40
Congo-Brazzaville 40
Congo-Kinshasa 40
Cook Islands 40
Costa Rica 40
Croatia 40
Cuba 40
Cyprus 40
Czech Republic 40
Côte d’Ivoire 40
Denmark 40
Djibouti 40
Dominica 40
Dominican Republic 40
Ecuador 40
Egypt 40
El Salvador 40
Equatorial Guinea 40
Eritrea 40
Estonia 40
Eswatini 40
Ethiopia 40
Falkland Islands 40
Faroe Islands 40
Fiji 40
Finland 40
Former Czechoslovakia 40
Former Serbia and Montenegro 40
Former U.S.S.R. 40
Former Yugoslavia 40
France 40
French Guiana 40
French Polynesia 40
Gabon 40
Gambia, The 40
Georgia 40
Germany 40
Germany, East 40
Germany, West 40
Ghana 40
Gibraltar 40
Greece 40
Greenland 40
Grenada 40
Guadeloupe 40
Guam 40
Guatemala 40
Guinea 40
Guinea-Bissau 40
Guyana 40
Haiti 40
Hawaiian Trade Zone 40
Honduras 40
Hong Kong 40
Hungary 40
Iceland 40
India 40
Indonesia 40
Iran 40
Iraq 40
Ireland 40
Israel 40
Italy 40
Jamaica 40
Japan 40
Jordan 40
Kazakhstan 40
Kenya 40
Kiribati 40
Kosovo 40
Kuwait 40
Kyrgyzstan 40
Laos 40
Latvia 40
Lebanon 40
Lesotho 40
Liberia 40
Libya 40
Lithuania 40
Luxembourg 40
Macau 40
Madagascar 40
Malawi 40
Malaysia 40
Maldives 40
Mali 40
Malta 40
Martinique 40
Mauritania 40
Mauritius 40
Mexico 40
Micronesia 40
Moldova 40
Mongolia 40
Montenegro 40
Montserrat 40
Morocco 40
Mozambique 40
Namibia 40
Nauru 40
Nepal 40
Netherlands 40
Netherlands Antilles 40
New Caledonia 40
New Zealand 40
Nicaragua 40
Niger 40
Nigeria 40
Niue 40
North Korea 40
North Macedonia 40
Northern Mariana Islands 40
Norway 40
Oman 40
Pakistan 40
Palestinian Territories 40
Panama 40
Papua New Guinea 40
Paraguay 40
Peru 40
Philippines 40
Poland 40
Portugal 40
Puerto Rico 40
Qatar 40
Reunion 40
Romania 40
Russia 40
Rwanda 40
Saint Helena 40
Saint Kitts and Nevis 40
Saint Lucia 40
Saint Pierre and Miquelon 40
Saint Vincent/Grenadines 40
Samoa 40
Sao Tome and Principe 40
Saudi Arabia 40
Senegal 40
Serbia 40
Seychelles 40
Sierra Leone 40
Singapore 40
Slovakia 40
Slovenia 40
Solomon Islands 40
Somalia 40
South Africa 40
South Korea 40
South Sudan 40
Spain 40
Sri Lanka 40
Sudan 40
Suriname 40
Sweden 40
Switzerland 40
Syria 40
Taiwan 40
Tajikistan 40
Tanzania 40
Thailand 40
The Bahamas 40
Timor-Leste 40
Togo 40
Tonga 40
Trinidad and Tobago 40
Tunisia 40
Turkey 40
Turkmenistan 40
Turks and Caicos Islands 40
Tuvalu 40
U.S. Pacific Islands 40
U.S. Territories 40
U.S. Virgin Islands 40
Uganda 40
Ukraine 40
United Arab Emirates 40
United Kingdom 40
United States 40
Uruguay 40
Uzbekistan 40
Vanuatu 40
Venezuela 40
Vietnam 40
Wake Island 40
Western Sahara 40
Yemen 40
Zambia 40
Zimbabwe 40

In [74]:
max([len(df[df['Country']==c].Year.unique()) for c in df.Country.unique()])

40

In [75]:
df_test = df[df['Energy_type']!='nuclear']
df_test.shape
df_test = df_test[df_test['Energy_type']!='renewables_n_other']

In [76]:
df_test
for i in df_test.columns:
    print(i, np.sum(df_test[i].isna()))

Country 0
Energy_type 0
Year 0
Energy_consumption 2590
Energy_production 2588
GDP 10276
Population 6284
Energy_intensity_per_capita 3388
Energy_intensity_by_GDP 3388
CO2_emission 3826

In [77]:
df_test = df_test[df_test['Year']>=2000]
df_test.shape

(18480, 10)

In [78]:
for i in df_test.columns:
    print(i, np.sum(df_test[i].isna()))

Country 0
Energy_type 0
Year 0
Energy_consumption 678
Energy_production 676
GDP 2336
Population 2300
Energy_intensity_per_capita 1076
Energy_intensity_by_GDP 1076
CO2_emission 846

In [79]:
df_test = df_test[(~df_test['Population'].isna())]
df_test.shape

(16180, 10)

In [80]:
for i in df_test.columns:
    print(i, np.sum(df_test[i].isna()))

Country 0
Energy_type 0
Year 0
Energy_consumption 1
Energy_production 0
GDP 36
Population 0
Energy_intensity_per_capita 400
Energy_intensity_by_GDP 400
CO2_emission 58

In [89]:
df_test.head()
df_test['Energy_intensity_per_capita'] = df_test['Energy_consumption'] * 1e6 / df_test['Population']

In [105]:
df_test['Energy_intensity_by_GDP'] = (df_test['Energy_consumption'] * 1e12) / (df_test['GDP'] * 1e9)

In [83]:
df_test.to_csv('Preprocess_Data.csv',index = None)